@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Seymour One", sans-serif;
  
  

}

body {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(157, 202, 255) 67%, rgba(157, 202, 255) 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}





.container-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 230px;
    margin-top: 40px;


}

.score-human,
.score-machine {
    color: #ffffff;
    text-shadow: 10px 10px 0 #000000;
    -webkit-text-stroke: 3px #000000;
    font-size: 160px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.score-name {
    color: #ffffff;
    text-align: center;
    text-shadow: 5px 5px 0 #000000;
    -webkit-text-stroke: 2px #000000;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -3px;
}

.hand-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    gap: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    
}

.hand-button img:hover {
    filter: drop-shadow(5px 5px 0 #000000);
    transform: rotate(-15deg);
    cursor: pointer;
}

.hand-button img:active {
    filter: brightness(50%);
    transform: scale(0.98);
}


.container-machine {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.container-human {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hand-machine {
    width: 900px;        
}

.hand-human {
    width: 900px;      

}

.container-result {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 300px;
    margin-bottom: 30px;
}

.result-title {
    font-size: 96px;
    color: #ffffff;
    -webkit-text-stroke: 1px #000000;
    text-shadow: 3px 3px 0 #000000;
    margin-bottom: 30px;


}

.result-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;


}

.result-button {
    padding: 10px;
    font-size: 32px;
    box-shadow: 4px 4px 0px 0px #000, 4px -7px 0px 0px #c2c2c2 inset;
    font-style: normal;
    font-weight: 400;
    background-color: #ffffff;
}

.result-button:hover {
    filter: drop-shadow(5px 5px 0 #000000);
    transform: rotate(-3deg);
    cursor: pointer;
}

.result-button:active {
    filter: brightness(50%);
    transform: scale(0.98);
}

/* INICIO RESPONSIVO  */

@media screen and (max-width:1600px) {


    .container-score {

        gap: 120px;
        margin-top: 40px;


    }

    .score-human,
    .score-machine {

        font-size: 120px;

    }

    .score-name {

        font-size: 38px;

    }

    .hand-button {
        margin-top: 250px;
        gap: 30px;
    }

    .hand-button img {
        width: 150px;
    }

    .hand-machine {
        width: 800px;
    }

    .hand-human {
        width: 800px;
    }

    .result-title {
        font-size: 60px;
    }

    .result-button {
        font-size: 25px;

    }



}

@media screen and (max-width:1024px) {

    body {
        overflow: hidden;
    }

    .container-score {
        gap: 120px;
        margin-top: 40px;
        }

    .score-human,
    .score-machine {
        text-shadow: 7px 7px 0 #000000;
    -webkit-text-stroke: 2px #000000;
        font-size: 100px;
    }

    .score-name {
        font-size: 30px;
        text-shadow: 3px 3px 0 #000000;
    -webkit-text-stroke: 1px #000000;
    }

    .hand-button {
        gap: 30px;
        margin-top: 550px;
    }

    .hand-button img {
        width: 100px;
    }

    .hand-machine {
        width: 500px;
    }

    .hand-human {
        width: 500px;
    }

    .container-machine {
        bottom: 300px;
        left: -100px;

    }

    .container-human {
        bottom: 300px;
        right: -100px;
        



    }


    .container-result {
        display: flex;
        margin-top: 550px;

    }

    .result-title {
        font-size: 35px;
    }

    .result-buttons {


        gap: 20px;


    }

    .result-button {
        font-size: 15px;

    }



}




@media screen and (max-width:500px) {

    body {
        overflow: hidden;
    }

    .container-score {

        gap: 120px;
        margin-top: 40px;


    }

    .score-human,
    .score-machine {
        text-shadow: 5px 5px 1px #000000;

        font-size: 90px;

    }

    .score-name {
        text-shadow: 3px 3px 1px #000000;

        font-size: 25px;

    }

    .hand-button {
        gap: 30px;
        margin-top: 500px;
    }

    .hand-button img {
        width: 100px;

    }

    .hand-machine {
        width: 200px;        
    }

    .hand-human {
        width: 200px;      

    }

  

    .container-machine {
        
        bottom: 300px;
        left: 0;
       
    }

    .container-human {
        
        bottom: 300px;
        right: 0;
        

    }


    .container-result {
        display: flex;
        margin-top: 500px;

    }

    .result-title {
        font-size: 35px;



    }

    .result-buttons {
gap: 20px;

    }

    .result-button {
        font-size: 15px;

    }



}